.main-content {
    max-width: 102rem;
    margin: 0 auto;
    padding: 8rem var(--gap);
}

.main-bg {
    background-image: url("/assets/img/confetti-doodles.svg");
    background-size: cover;
    background-position: center center;
    color: var(--withe-color);
}

.white-bg {
    background: var(--withe-color);
    color: var(--primary-color);
}

.section {
    scroll-margin-top: 6.5rem;
    min-height: 100vh;
}

.menu-spacing {
    height: 6.5rem;
}

body .full-width {
    width: 100%;
}